In [1]:
import pandas as pd
import numpy as np

In [2]:
airlines = pd.read_csv("airlines.csv", index_col=0)
airlines.head()

  carrier                    name
1      9E       Endeavor Air Inc.
2      AA  American Airlines Inc.
3      AS    Alaska Airlines Inc.
4      B6         JetBlue Airways
5      DL    Delta Air Lines Inc.

In [3]:
airports = pd.read_csv("airports.csv", index_col=0)
airports.head()

,faa,name,lat,lon,alt,tz,dst,tzone
1,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
2,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
3,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
4,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
5,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [4]:
flights = pd.read_csv("flights.csv", index_col=0).dropna()
print(len(flights))
flights.head()

327346

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,01/01/13 5:00
2,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,01/01/13 5:00
3,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,01/01/13 5:00
4,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,01/01/13 5:00
5,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,01/01/13 6:00

In [5]:
planes = pd.read_csv("planes.csv", index_col=0)
planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
1,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
2,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
5,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [6]:
weather = pd.read_csv("weather.csv", index_col=0).dropna()
print(len(weather))
weather.head()

4980

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
15,EWR,2013,1,1,16,37.04,19.94,49.62,300.0,13.80936,20.71404,0.0,1012.1,10.0,01/01/13 16:00
17,EWR,2013,1,1,18,33.98,15.08,45.43,310.0,12.65858,25.31716,0.0,1014.1,10.0,01/01/13 18:00
20,EWR,2013,1,1,21,30.02,12.92,48.48,320.0,18.41248,26.46794,0.0,1016.0,10.0,01/01/13 21:00
21,EWR,2013,1,1,22,28.94,12.02,48.69,320.0,18.41248,25.31716,0.0,1016.5,10.0,01/01/13 22:00
23,EWR,2013,1,2,0,26.96,10.94,50.34,310.0,14.96014,25.31716,0.0,1016.3,10.0,01/02/13 0:00

In [7]:
# preprocessing (joining other tables)
flight_info = flights.merge(weather, on=["time_hour", "origin"], how="left", suffixes=(None, "_y"))
cols = []
for y in flight_info.columns:
    if "_y" in y:
        cols.append(y)
flight_info = flight_info.drop(columns=cols)
print(len(flight_info))
flight_info.head()

327346

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,time_hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,01/01/13 5:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,01/01/13 5:00,39.92,24.98,54.81,250.0,14.96014,21.86482,0.0,1011.4,10.0
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,01/01/13 5:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,01/01/13 5:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,01/01/13 6:00,39.92,24.98,54.81,260.0,16.11092,23.01560,0.0,1011.7,10.0

In [8]:
flight_info.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour', 'temp', 'dewp', 'humid', 'wind_dir', 'wind_speed',
       'wind_gust', 'precip', 'pressure', 'visib'],
      dtype='object')

In [9]:
# visualizations

In [10]:
# generate labels
dep_delays = flights["dep_delay"]
dep_delays

1          2.0
2          4.0
3          2.0
4         -1.0
5         -6.0
          ...
336766    -5.0
336767   -10.0
336768    -5.0
336769    12.0
336770   -10.0
Name: dep_delay, Length: 327346, dtype: float64

In [11]:
numerical_features = ["year", "month", "day", "hour", "minute", "temp", 
"dewp", "humid", "wind_dir", "wind_speed", "wind_gust", 
"precip", "pressure", "visib"]
categorical_features = ["carrier", "flight", "tailnum"]

In [12]:
# generate features

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

X_train, X_test, y_train, y_test = train_test_split(flight_info[:20000], dep_delays[:20000], random_state=0)

train_numerical_features = X_train[numerical_features]
train_categorical_features = X_train[categorical_features]
test_numerical_features = X_test[numerical_features]
test_categorical_features = X_test[categorical_features]
OH_encoder = OneHotEncoder(handle_unknown="ignore", sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(train_categorical_features))
OH_cols_test = pd.DataFrame(OH_encoder.transform(test_categorical_features))
OH_cols_train.index = X_train.index
OH_cols_test.index = X_test.index
OH_X_train = pd.concat([train_numerical_features, OH_cols_train], axis=1)
OH_X_val = pd.concat([test_numerical_features, OH_cols_test], axis=1)

print(OH_X_train.head())
print(OH_X_val.head())
print(y_train[:10])

       year  month  day  hour  minute  temp  dewp  humid  wind_dir  \
16152  2013      1   19    17       5   NaN   NaN    NaN       NaN
17768  2013      1   21    17      27   NaN   NaN    NaN       NaN
19492  2013      1   23    16      50   NaN   NaN    NaN       NaN
15797  2013      1   19     8      25   NaN   NaN    NaN       NaN
6666   2013      1    8    17       0   NaN   NaN    NaN       NaN

       wind_speed  ...  4426  4427  4428  4429  4430  4431  4432  4433  4434  \
16152         NaN  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
17768         NaN  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
19492         NaN  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
15797         NaN  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
6666          NaN  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

       4435
16152   0.0
17768   0.0
19492   0.0
15797   0.0
6666    0.0

[5 rows x 4450 columns]
       year  month  day  hour  minute   temp   dewp  humid  wind_dir  \
19134  2013      1   23     9      35  15.98  -4.00  40.22     280.0
4981   2013      1    6    19       0    NaN    NaN    NaN       NaN
16643  2013      1   20    13      25  53.06  21.02  28.25     270.0
19117  2013      1   23     9      30  15.08  -2.02  45.96     300.0
5306   2013      1    7     8      40  42.08  26.96  54.73     310.0

       wind_speed  ...  4426  4427  4428  4429  4430  4431  4432  4433  4434  \
19134    12.65858  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4981          NaN  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
16643    25.31716  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
19117    14.96014  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5306     12.65858  ...   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

       4435
19134   0.0
4981    0.0
16643   0.0
19117   0.0
5306    0.0

[5 rows x 4450 columns]
16364    -8.0
17988     0.0
19726    -5.0
16008    13.0
6726     -4.0
12730    -8.0
8985    -11.0
4543      5.0
11062    -4.0
14868    64.0
Name: dep_delay, dtype: float64

In [13]:
# dummy regressor (baseline)
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error
dummy_regr = DummyRegressor(strategy="mean")
dummy_regr.fit(OH_X_train, y_train)
res = dummy_regr.predict(OH_X_val)
mean_squared_error(y_test, res)

921.5360943599999

In [14]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectFromModel

parameters = {"pca__n_components": [2, 3, 5]}
            # "gbc__n_estimators": [100, 200, 500]}

pipePCA = Pipeline([('imp', SimpleImputer()), ('fs', SelectFromModel(RandomForestRegressor(), max_features=10)),
('pca', PCA()), ('gbc', GradientBoostingRegressor())])
regPCA = GridSearchCV(pipePCA, parameters, scoring="neg_mean_squared_error")
regPCA.fit(OH_X_train, y_train)
regPCA.score(OH_X_val, y_test)

d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
d:\softwares\anaconda\envs\si670f22\lib\site-packages\sklearn\utils\validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

-856.4775465582958

In [15]:
regPCA.best_params_

{'pca__n_components': 5}